<br>
<input type="number" placeholder="Num1" name="num1" [(ngModel)]="num1">
<input type="number" placeholder="Num2" name="num2" [(ngModel)]="num2">
<input type="number" placeholder="Resultador" name="resultado" [(ngModel)]="resultado">
<br>
<div class="col-md-12">
    <br>
    <button (click)="somar()"  class="btn btn-dark">somar</button> 
    <button (click)="subtrair()"  class="btn btn-dark">subtrair</button>
    <button (click)="multiplicar()"  class="btn btn-dark">multiplicar</button>
    <button (click)="dividir()"  class="btn btn-dark">dividir</button>
</div>